
main{
    padding: 50px;
    padding-top: 90px;
    background-color: #d9d9d9;
    background-image: url(../images/bb.png);
    background-size: cover;
}




#new-req-header{
    margin-bottom: 20px;
}

.new-request_div, .past-request_div{
    background-color: #173A76;
    width: 93%;
    padding: 20px;
    /* margin: 10px;
    margin-left: 1px; */
    border-radius: 30px;
    /* overflow: hidden; */
    color: #ffffff;
    margin: auto;
    
}

.past-request_div{
  margin-bottom: 20px;
  margin-top: 20px;
}



.result_carousel{
    background-color: rgb(253, 253, 253);
    padding: 50px 0;
    overflow-x: auto;
    white-space: wrap;
    display: inline-block;
    
  }
  .result-cell {
    background-color: #ffffff;
    color: black;
    white-space: wrap;
    border-radius: 10px;
    display: inline-block;
    width: 300px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,.1), 0 0.9375rem 1.40625rem rgba(90,97,105,.1), 0 0.25rem 0.53125rem rgba(90,97,105,.12), 0 0.125rem 0.1875rem rgba(90,97,105,.1);
    margin: 10px;
    
  }
  .acc-info{ /*used for both request posting and status cards*/
    display: flex;
    margin: 10px;
  }

  .more-info{
    display: block;
    flex: 70%;
    margin-top: 7px;
    margin-left: 5px;
  }

  #categories{
    color: #aaaaaa;
  }

  
 
  .result-img {
    flex: 20%;
    width: 20%;
    height: 20%;
    margin-right: 5px;
    border-radius: 100%;
  }

  .result{
    background-color: #2E4D83;
    border-radius: 10px;
    max-height: 520px;
    overflow: scroll;
    /* white-space: nowrap; */
  }
  .result::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.result::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background-color:rgba(217, 217, 217, 0.678) ;
    visibility: hidden;
}
.result:hover::-webkit-scrollbar-thumb{  
    visibility: visible;
}
  
/* .new-request_div::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}

.new-request_div:hover::-webkit-scrollbar-thumb{  
  visibility: visible;
} */

   #result-header{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  

  .accept-req-btn button, .reject-req-btn button, .req-details button{
    background-color: rgb(228, 199, 11);
    border: none;
    padding: 5px;
    border-radius: 20px;
    width: 100px;
    /* color: #ffffff; */
    /* margin: auto; */
  }

  .accept-req-btn, .reject-req-btn, .req-details{
    display: inline-block;
    text-align: center;
    
  }

  .accept-req-btn button{
    background-color: rgb(82, 123, 82);
    color: #ffffff;
  }
  .accept-req-btn button:hover{
    background-color: rgb(59, 91, 59);
}

  .reject-req-btn button{
    background-color: rgb(176, 57, 57);
    color: #ffffff;
  }
  .reject-req-btn button:hover{
    background-color: rgb(121, 58, 58);
  }

  .req-details button:hover{
    background-color: #CDB309 ;
  }

  .req-options{
    margin-left: 45px;
    margin-bottom: 15px;
    /* margin: auto; */
  }

  /* .req-details {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */

  .specifications-div{
    margin: 10px;
    padding: 5px;
  }

  .specifications{
    margin-bottom: 10px;
    padding: 5px;
    /* font-weight: bold; */
    

  }

  .level, .language, .duration, .date, .time{
    background-color: rgba(228, 199, 11, 0.466);
    border-radius: 10px;
    padding: 5px;
    border-color: #CDB309;
    border: 3px;
    margin: 3px;
    display: inline-block;

  }
  

  

  .req-final-status{
    text-align: center;
    
    width: 70%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 3px;
  }

  .accepted{
    background-color: rgba(82, 123, 82, 0.51) ;
    font-weight: bold;
    /*color: #cec9c9;*/

  }

  .rejected{
    background-color: rgba(179, 80, 80, 0.514);
    font-weight: bold;
    /*color: #cec9c9;*/
  }
