#ul1 {
  list-style: none;
  margin: 0px;
  padding: 0px;
  top: 0px;
  position: sticky;
  float: left;
}
#dropbtn {
  /* border-radius: 0; */
  background-color: #2e4d83;
  color: white;
}

#ul2 {
  margin: 0px;
  padding: 0px;
  top: 0px;
  position: sticky;
  float: right;
}

li {
  display: block;
  padding: 15px;
  text-align: center;
  float: inline-start;
  color: rgb(23, 58, 118);
}

li a {
  text-decoration: none;
  color: aliceblue;
}

#logo-img {
  border-radius: 100px;
  height: 40px;
}

#ul1 li a:hover {
  color: rgb(144, 155, 164);
}

#main-nav {
  background-color: #2e4d83;
  background: rgba(106, 137, 237, 0.6);
  height: 60px;
}

#main-nav li {
  cursor: pointer;
  color: aliceblue;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #2e4d83;
  border-radius: 0 0 10px 10px;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  padding: 10px 15px;
  text-align: center;
}

.dropdown-menu li a {
  color: aliceblue;
  text-decoration: none;
}

.dropdown-menu li:hover {
  background-color: #233960;
}

.has-dropdown:hover .dropdown-menu {
  display: block;
}
